@import "/node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
    
  }

  nz-button-group [nz-button] {
    margin-right: 0;
  }
  .rest{
    background-color: #5765AC;
    border-color: #5765AC;
    color:white;
  }
  .restnomal{
    background-color: #ECEDF6;
    border-color: #ECEDF6;
    color:#5765AC;
  }
  .hover{
    background-color: #525E9F;
    border-color: #525E9F;
    color:white;
  }
  .hovernormal{
    background-color: #D9DCEC;
    border-color: #D9DCEC;
    color:#525E9F;
  }
  .pressed{
    background-color: #2D3872;
    border-color: #2D3872;
    color:white;
  }
  .pressednormal{
    background-color: #C5CAE3;
    border-color: #C5CAE3;
    color:#5765AC;
  }
  
  .focus{
    background-color: #3F4FA0;
    border-color: white;
    color:white;
  }
  .focusnormal{
    background-color: #ECEDF6;
    border-color: #1A2143;
    color:#5765AC;
  }
  